.courseFormTitleContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}

.courseFormInputTitle {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.courseFormDescription {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.courseFormAuthorsWrap {
	display: flex;
	justify-content: space-between;
}

.courseFormAuthors {
	width: 48%;
}

.createAuthor {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}
.createAuthorTitle {
	font-size: 16px;
	margin-bottom: 15px;
}

.createAuthorInput {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	margin-bottom: 15px;
}

.courseFormDuration {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.courseFormDurationTitle {
	font-size: 16px;
	margin-bottom: 15px;
}

.courseFormDurationInput {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	margin-bottom: 15px;
}

.courseFormDurationText {
	font-size: 24px;
	align-self: flex-start;
}

.courseFormDurationValue {
	font-size: 28px;
	font-weight: 600;
	margin: 0 5px;
}
